* {
	box-sizing: border-box;
}

body{
	height:100vh;
  	display:grid;
  	margin:0;
  	grid-template-columns:1fr;
  	grid-template-rows:1fr;
  	
  	@media only screen and (min-width: 40em){
  		grid-template-columns: 1.56fr 1fr;
  		grid-template-rows:1fr;
  	}

  	header{
 		position:fixed;
 		top:0;
 		left:0;
		display:grid;
		grid-template-columns: 60px auto;
		grid-gap:1rem;
		background-color:white;
		width:100vw;
		z-index:3;


   		 @media only screen and (min-width: 40em){
			grid-template-columns: repeat(2, auto);
   			grid-gap:2rem;
   			margin: 6rem 0 5rem 10%;
   			width:auto;
   			background-color:transparent;
   			padding:1rem;
			border-radius:90px;
   		 }


    	div.burger{
    		grid-column:1;
    		display:grid;
      		justify-items:start;

     		@media only screen and (min-width: 40em){
      			justify-items:end;
      		}
      		svg{
    			margin: 1.76rem .9rem 0 14px;
      			padding:.75rem;

      			@media only screen and (min-width: 40em){
      				margin: 2.45rem 0 0 0;
      				padding:0;
      			}
      		}
      	}
		h1{
			font-family: ff-scala, sans-serif;
      		font-style: normal;
      		font-weight: bold;
      		align-self: end;
      		color: #434343;
			grid-column:2;
      		font-size:2.75rem;

	   		 @media only screen and (min-width: 40em){
	   		 	margin:0;
     			padding: 1rem 2rem 1rem 1rem;
	   		 	line-height:1;
	   		 	font-size:6rem;
	   		 	align-self:start;
	   		 }

		}
	}
  	
  	main.site-main{
		display:grid;
		grid-template-rows: auto 450px 1fr auto;
		margin:0;
		padding:0;
		grid-row:1;
		grid-column:1;

 		@media only screen and (min-width: 40em){
 			padding: 6rem 0 5rem 6rem;
  			grid-column:1;
  			height:100%;
			grid-template-rows: repeat(3, auto);
 			background-color: #F0F0F0;	
  		}



		section{
			z-index:2;
			grid-row: 3;
			background-color: #F0F0F0;
			height:450px;
			overflow: visible;	

    		@media only screen and (min-width: 40em){
    			grid-row:2;
    			padding:7rem 7rem 0 38%;
    			background-color: transparent;	
				overflow:scroll;

      			}
    		p{
      			font-family: chainprinter, sans-serif;
				font-style: normal;
				font-weight: 400;
      			font-size:1.2rem;
      			padding:15px 1rem 0 4rem;
      			line-spacing:26;
      			
      			@media only screen and (min-width: 40em){
      				font-size:1.5rem;
      				padding:0;
      			}

    		}
		}

	}
  
  	div.arthome{
  		grid-row:1;
  		grid-column:1;
  		z-index:0;
  		@media only screen and (min-width:40em){
  			grid-row:1;
  			grid-column:2;

  		}

    	.egypt{
    		z-index:0;
    		grid-column:1;
    		object-fit:cover;
    		height:400px;
    		width:230px;
    		transform:rotate(-6deg) translateY(120px) translateX(70px);

    		@media only screen and (min-width:40em){
    			height:900px;
    			width:490px;
    			transform:rotate(-4deg) translateY(140px) translateX(100px);
    			position:fixed;
    			transition: all .4s;
    				&:hover{
    					transform:rotate(-6deg) translateY(130px) translateX(90px) scale(1.03);
    					position:fixed;
    					filter: drop-shadow(0 0 0.3rem lightgrey);
    				}

    		}

    	}
	}

	footer{
		z-index:4;
		position:fixed;
		left:0;
		bottom:0;
		align-self:end;
   		background-color:white;
   		width:100vw;
   		padding:0;
   		margin:0;

   		@media only screen and (min-width: 40em){
   			display:grid;
   			grid-template-columns: repeat(2, auto);
   			background-color:transparent;
   			margin: 45px 0 0 0;
   			width:30vw;
   			position:fixed;
   			left:29%;
			bottom:8%;
   			// width:910px;

   		}

   		p{
   			font-size:.59rem;
   			font-family: chainprinter, sans-serif;
			font-style: normal;
			font-weight: 400;
			padding: 0 1rem;

			@media only screen and (min-width:40em){
				font-size:.75rem;
				padding:0;
			}
		}

		ul{
			display:grid;
			grid-template-columns: repeat(2, 1fr);
			list-style:none;
			li{
				font-family: ff-scala, sans-serif;
      			font-style: normal;
      			font-weight: bold;
      			color: #434343;
				grid-column:2;
      			font-size:1.5rem;
      			a{
      				text-decoration:none;
      			}
			}
			li:nth-child(1){
				grid-column:1;

			}

		}
	}

}